{% extends "layout.html.twig" %}
{% block content %}
    <div class="row">
        <h1>{{ player.getUsername()}}
            <small>{{ player.getEmail()}}</small>
        </h1>
    </div>
    <div class="row">
        <form class="form-inline" method="post" action="{{path("player_addgame",{id: player.id})}}">
            <label class="sr-only" for="game">Game</label>
            <select class="custom-select mr-sm-3" id="game" name="game_id" required>
                <option disabled selected>game</option>
                {%for game in availableGames %}
                    <option value="{{game.getId()}}">{{game.getName()}}</option>
                {% endfor %}
            </select>
            <button type="submit" class=" ml-4 btn btn-primary">Add Game</button>
        </form>
    </div>
    <hr/>
    <div class="row">
        {%for game in player.getGames() %}
        <div class="col-3" style="margin-bottom: 16px;">
            <a href="{{path("game_show",{id: game.id})}}"><img class="img-responsive" src="{{game.getImage()}}"/></a>
        </div>
        {% endfor %}
    </div>
{% endblock %}